    <header class="header">
      <div class="menu_container">
        <!--<a class="logo" href="#">Gabinete de Curiosidades f.64 </a>-->
        <a class="logo" href="index.html"
          ><img src="images/diseño gabinete.png" alt="" />
        </a>
        <nav class="navbar">
          <ul>
  <li>
    <a href="./desafios.html" title="Pon a prueba tus Habilidades">Desafios</a>
  </li>

  <li>
    <a href="./historia.html" title="Historia & Artistas">Historia Artistas</a>
  </li>

  <li>
    <a href="./blog.html" title="Mantenete Informado">Noticias Blog</a>
  </li>

  <li>
    <a href="./contacto.html" title="Contacto">Contacto</a>
  </li>

  <!-- 🔎 Buscador -->
  <li class="search-item">
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Buscar..." />
      <button id="searchBtn">
        <img src="/images/search.png" alt="Buscar">
      </button>
    </div>
  </li>

  <!-- 👤 Usuario -->
  <li class="user-menu">
    <a href="login.html" id="loginLink">
      <img
        src="images/user.png"
        alt="Login"
        title="Mi cuenta"
        id="loginIcon"
      />
    </a>

    <ul class="dropdown" id="userDropdown">
      <li><a href="#" id="miCuentaBtn">Mi cuenta</a></li>
      <li><a href="#" id="logoutBtn">Cerrar sesión</a></li>
    </ul>
  </li>
</ul>
        </nav>
      </div>
    </header>