

      body {
            display: flex;
             flex-direction: column;
             align-items: center;        /* centra verticalmente */
}  
      .mainbackoffice{
        background-image: url('../images/mainUser/background.jpg');
        background-size: cover;
        border-radius: 25px;
        width: 95%;
        height: 380px;
        font-family: "SuckersGothicMedium", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .tituloMainUser{
        color: #d9d9d9;
        font-size: 15px;
        display: flex;
        gap: 10px;
        padding-left: 30px;
    
      }
    .avatarUser{
        width: 50px;
        height: 50px;
    }
    .imguser{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 8px 8px 0px #000000;
    }
    .itemuser {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 200px; /* o el ancho que estés usando */
}
.itemuser .name {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6); /* Fondo negro semiopaco */
  color: white;
  padding: 5px 0;
  font-size: 10px;
} 
.itemuser .notificacion {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 999px;
  font-weight: bold;
  z-index: 10;
  padding: 2px;
}
.menuMain{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.itemuser:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


/***************************************************/
/* css para la galeria**/
/***************************************************/
.galeriaUsuario {
  background-color: #19141d30;
  width: 90%;
  max-width: 1300px;
  margin: 30px auto;
  border-radius: 10px;
}

.headerGaleria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.headerGaleria h2 {
  font-weight: 300;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.btnAbrirModalSubir,.btnVolver {
  padding: 8px 18px;
  border: 1px solid #c8c6c6;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  color: #ffffff;
  border-radius: 30px;
}

.btnAbrirModalSubir:hover, .btnVolver:hover {
  background: #111;
  color: #fff;
}
.gridGaleria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: space-evenly;
}
.cardGaleria {
  background: #000000a1;
  border: 1px solid #eee;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  font-size: 13px;
  margin: 10px auto;
}
.imagenContainer {
  width: 100%;
  aspect-ratio: 16/9; /* mantiene proporción */
  overflow: hidden;
}

.imagenGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.cardGaleria:hover .imagenGaleria {
  transform: scale(1.05);
}
.infoGaleria{
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.descripcionFoto {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
  color: beige;
}
.equipoUsado p {
  font-size: 12px;
  color: #f7ffdb;
}

.interaccionesGaleria {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estadisticas {
  font-size: 0.85rem;
  color: #ffffff;

}

.accionesGaleria button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s ease;
  color: azure;
}

.accionesGaleria button:hover {
  opacity: 0.6;
}

@media (max-width: 480px) {
  .galeriaUsuario {
    width: 95%;
  }

  .gridGaleria {
    gap: 20px;
  }
}
