     body {
            display: flex;
             flex-direction: column;
             align-items: center;        /* centra verticalmente */
}  
      .mainbackAdmin{
        background-image: url('../images/mainAdmin/background.jpg');
        background-size:cover;
        background-position: center;
        border-radius: 25px;
        width: 95%;
        height: 380px;
        font-family: "SuckersGothicMedium", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .tituloMainAdmin{
        color: #d9d9d9;
        font-size: 15px;
        display: flex;
        gap: 15px;
        padding-left: 80px;
        padding-top: 25px;
        align-items: center;
        flex-wrap: wrap;
      }
    .avatarAdmin{
        width: 50px;
        height: 50px;
    }
    .imgadmin{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 8px 8px 0px #000000;
    }
    .itemadmin {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 200px; /* o el ancho que estés usando */
}
.itemadmin .name {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6); /* Fondo negro semiopaco */
  color: white;
  padding: 5px 0;
  font-size: 10px;
} 
.itemadmin .notificacion {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 999px;
  font-weight: bold;
  z-index: 10;
  padding: 2px;
}
.menuMain{
    display: flex;
    justify-content: center;
    gap: 80px;
}
#logoutBtn {
  align-self: flex-end;
  margin-right: 30px;
  width: auto;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ff5757;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.itemadmin:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/************** pagina de contenido***********/
#backsistemBtn {
  align-self: flex-end;
  margin-right: 30px;
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #0097b2;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.imgcontent {
        height: 80px;
        width: 200px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 8px 8px 0px #000000;
        filter: brightness(70%);

    }
  .itemContent {
  position: relative;
  flex-wrap: wrap;
  display: inline-block;
  text-align: center;
  width: 200px; /* o el ancho que estés usando */
}
.itemContent .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 17px;
  border-radius: 8px;
}
.menuContent{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 50px;
    justify-content: center;
    align-content:center;

}
.itemContent:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/***************estilos para listas y ABM**************/

.fila-header {
  background-color: rgba(0, 0, 0, 0.7);
}

.thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.acciones button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  color: white;
}

.upload {
  background-color: #00BCD4;
}

.delete {
  background-color: #F44336;
}

.botones {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

 .nuevoBtn,.volverbtn,.listbtn {
  align-self: flex-end;
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "SuckersGothicMedium", sans-serif;

}
.nuevoBtn{
  background-color: #ff5757;
}
.volverbtn{
  background-color: #00BCD4;
}
.listbtn{
  background-color: blueviolet;
}
.tituloMainAdmin input{
  background-color: #307ce81e;
  border-radius: 10px;
  height: 35px;
  color: #d9d9d9;
}

/* css para lista camaras*/
.camara-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}

.fila-camara {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px 180px;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}

/********************* css para lista lentes*/
.lente-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}
.fila-lente {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 100px 180px;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}

/********************* css para lista tecnicas*/
.tecnica-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}
.fila-tecnica {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 2fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}

/********************* css para lista artistas*/
.artista-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}
.fila-artista {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}

/********************* css para lista accesorios*/
.accesorio-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}
.fila-accesorio {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}