
/* Ocultar modal cuando tiene la clase hidden */
.hidden {
  display: none !important;
}

/* Estilos del formulario */
.modalNuevaCamara,
.modalEditarCamara,
.modalEliminacion,
.modalNuevaLente,
.modalEditarLente,
.modalNuevaTecnica,
.modalEditarTecnica,
.modalNuevoArtista,
.modalEditarArtista,
.modalNuevoAccesorio,
.modalEditarAccesorio,
.modalNuevoMarca,
.modalEditarMarca,
.modalEditarResena,
.modalNuevoUsuario,
.modalEditarUsuario,
.modalNuevoDesafio,
.modalEditarDesafio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* El formulario flotante */
.formNuevaCamara,
.formEditarCamara,
.modaldelete,
.formNuevaLente,
.formEditarLente,
.formEditarTecnica,
.formNuevaTecnica,
.formEditarTecnica,
.formNuevoArtista,
.formEditarArtista,
.formNuevoAccesorio,
.formEditarAccesorio,
.formNuevoMarca,
.formEditarMarca,
.formEditarResena,
.formNuevoUsuario,
.formEditarUsuario,
.formNuevoDesafio,
.formEditarDesafio {
  background-image: url("/images/register.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 30px 20px;
  width: 300px;
  color: #dfbedd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  position: relative
}

/* Inputs y labels alineados uno debajo del otro */
.formNuevaCamara,
.formEditarCamara label,
.formNuevaLente,
.formEditarLente label,
.formNuevaTecnica,
.formEditarTecnica label,
.formNuevoArtista,
.formEditarArtista label,
.formNuevoAccesorio,
.formEditarAccesorio label,
.formNuevoMarca,
.formEditarMarca label,
.formEditarResena label,
.formNuevoUsuario,
.formEditarUsuario label,
.formNuevoDesafio,
.formEditarDesafio label {
  text-align: right;
}

.formNuevaCamara input,.formEditarCamara input[type="text"],
.formNuevaCamara input,.formEditarCamara input[type="file"],
.formNuevaLente input,.formEditarLente input[type="text"],
.formNuevaLente input,.formEditarLente input[type="file"],
.formNuevaTecnica input,.formEditarTecnica input[type="text"],
.formNuevaTecnica input,.formEditarTecnica input[type="file"],
.formNuevoArtista input,.formEditarArtista input[type="text"],
.formNuevoArtista input,.formEditarArtista input[type="file"],
.formNuevoAccesorio input,.formEditarAccesorio input[type="text"],
.formNuevoAccesorio input,.formEditarAccesorio input[type="file"],
.formNuevoMarca input,.formEditarMarca input[type="text"],
.formNuevoMarca input,.formEditarMarca input[type="file"],
.formEditarResena input[type="text"],
.formEditarResena input[type="file"],
.formEditarResena select,
.formNuevoUsuario input[type="text"],
.formNuevoUsuario input[type="file"],
.formEditarUsuario input[type="text"],
.formEditarUsuario input[type="file"],
.formNuevoDesafio input[type="text"],
.formNuevoDesafio input[type="file"],
.formEditarDesafio input[type="text"],
.formEditarDesafio input[type="file"]
{
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  width: 150px;
}

/* Botones */
.formNuevaCamara button,.formEditarCamara button[type="submit"],
.formNuevaCamara button,.formEditarCamara button[type="button"],
.formNuevaLente button,.formEditarLente button[type="submit"],
.formNuevaLente button,.formEditarLente button[type="button"],
.formNuevaTecnica button,.formEditarTecnica button[type="submit"],
.formNuevaTecnica button,.formEditarTecnica button[type="button"],
.formNuevoArtista button,.formEditarArtista button[type="submit"],
.formNuevoArtista button,.formEditarArtista button[type="button"],
.formNuevoAccesorio button,.formEditarAccesorio button[type="submit"],
.formNuevoAccesorio button,.formEditarAccesorio button[type="button"],
.formNuevoMarca button,.formEditarMarca button[type="submit"],
.formNuevoMarca button,.formEditarMarca button[type="button"],
.formEditarResena button[type="submit"],
.formEditarResena button[type="button"],
.formNuevoUsuario button[type="submit"],
.formNuevoUsuario button[type="button"],
.formEditarUsuario button[type="submit"],
.formEditarUsuario button[type="button"],
.formNuevoDesafio button[type="submit"],
.formNuevoDesafio button[type="button"],
.formEditarDesafio button[type="submit"],
.formEditarDesafio button[type="button"],
.btn-eliminar {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #ead388;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
}

.formNuevaCamara button[type="submit"]:hover,
.formNuevaCamara button[type="button"]:hover,
.formNuevaLente button[type="submit"]:hover,
.formNuevaLente button[type="button"]:hover,
.formNuevaTecnica button[type="submit"]:hover,
.formNuevaTecnica button[type="button"]:hover,
.formNuevoArtista button[type="submit"]:hover,
.formNuevoArtista button[type="button"]:hover,
.formNuevoAccesorio button[type="submit"]:hover,
.formNuevoAccesorio button[type="button"]:hover,
.formNuevoMarca button[type="submit"]:hover,
.formNuevoMarca button[type="button"]:hover,
.formNuevoUsuario button[type="submit"]:hover,
.formNuevoUsuario button[type="button"]:hover,
.formEditarUsuario button[type="submit"]:hover,
.formEditarUsuario button[type="button"]:hover,
.formNuevoDesafio button[type="submit"]:hover,
.formNuevoDesafio button[type="button"]:hover,
.formEditarDesafio button[type="submit"]:hover,
.formEditarDesafio button[type="button"]:hover{
  background-color: #c5a83b;
}

/* Botón de cerrar (❌) */
.modalNuevaCamara > div,.modalNuevaLente > div,
.modalNuevaTecnica > div,.modalNuevoArtista > div,
.modalNuevoAccesorio > div,.modalNuevoMarca > div,
.modalNuevoUsuario > div,.modalEditarUsuario > div,
.modalNuevoDesafio > div,.modalEditarDesafio > div
 {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*ESTILOS PARA MODAL DE DETALLES DE LOS TICKETS*/
.modalDetalle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContenido {
  background: #1e1e1e;
  color: white;
  width: 80%;
  max-width: 900px;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 8px;
  padding: 20px;
}
.detalleEvidencia {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-top: 15px;
  cursor: zoom-in;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.contenedorActualizaciones {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contenedorAgregarActualizacion {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nuevaActualizacion {
  width: 90%;
  min-height: 120px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #222;
  color: whitesmoke;
  font-size: 14px;
  font-family: inherit;
  resize: vertical;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
.agregarActualizacionBtn {
  width: 90%;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "SuckersGothicMedium", sans-serif;
  background-color: darkcyan;
}
