
/* Ocultar modal cuando tiene la clase hidden */
.hidden {
  display: none !important;
}

/* Estilos del formulario */
.modalNuevaCamara,
.modalEditarCamara,
.modalEliminacion,
.modalNuevaLente,
.modalEditarLente,
.modalNuevaTecnica,
.modalEditarTecnica,
.modalNuevoArtista,
.modalEditarArtista,
.modalNuevoAccesorio,
.modalEditarAccesorio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* El formulario flotante */
.formNuevaCamara,
.formEditarCamara,
.modaldelete,
.formNuevaLente,
.formEditarLente,
.formEditarTecnica,
.formNuevaTecnica,
.formEditarTecnica,
.formNuevoArtista,
.formEditarArtista,
.formNuevoAccesorio,
.formEditarAccesorio {
  background-image: url("/images/register.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 30px 20px;
  width: 300px;
  color: #dfbedd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  position: relative
}

/* Inputs y labels alineados uno debajo del otro */
.formNuevaCamara,
.formEditarCamara label,
.formNuevaLente,
.formEditarLente label,
.formNuevaTecnica,
.formEditarTecnica label,
.formNuevoArtista,
.formEditarArtista label,
.formNuevoAccesorio,
.formEditarAccesorio label {
  text-align: right;
}

.formNuevaCamara input,.formEditarCamara input[type="text"],
.formNuevaCamara input,.formEditarCamara input[type="file"],
.formNuevaLente input,.formEditarLente input[type="text"],
.formNuevaLente input,.formEditarLente input[type="file"],
.formNuevaTecnica input,.formEditarTecnica input[type="text"],
.formNuevaTecnica input,.formEditarTecnica input[type="file"],
.formNuevoArtista input,.formEditarArtista input[type="text"],
.formNuevoArtista input,.formEditarArtista input[type="file"],
.formNuevoAccesorio input,.formEditarAccesorio input[type="text"],
.formNuevoAccesorio input,.formEditarAccesorio input[type="file"] {
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  width: 150px;
}

/* Botones */
.formNuevaCamara button,.formEditarCamara button[type="submit"],
.formNuevaCamara button,.formEditarCamara button[type="button"],
.formNuevaLente button,.formEditarLente button[type="submit"],
.formNuevaLente button,.formEditarLente button[type="button"],
.formNuevaTecnica button,.formEditarTecnica button[type="submit"],
.formNuevaTecnica button,.formEditarTecnica button[type="button"],
.formNuevoArtista button,.formEditarArtista button[type="submit"],
.formNuevoArtista button,.formEditarArtista button[type="button"],
.formNuevoAccesorio button,.formEditarAccesorio button[type="submit"],
.formNuevoAccesorio button,.formEditarAccesorio button[type="button"],
.btn-eliminar {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #ead388;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
}

.formNuevaCamara button[type="submit"]:hover,
.formNuevaCamara button[type="button"]:hover,
.formNuevaLente button[type="submit"]:hover,
.formNuevaLente button[type="button"]:hover,
.formNuevaTecnica button[type="submit"]:hover,
.formNuevaTecnica button[type="button"]:hover,
.formNuevoArtista button[type="submit"]:hover,
.formNuevoArtista button[type="button"]:hover,
.formNuevoAccesorio button[type="submit"]:hover,
.formNuevoAccesorio button[type="button"]:hover {
  background-color: #c5a83b;
}

/* Botón de cerrar (❌) */
.modalNuevaCamara > div,.modalNuevaLente > div,
.modalNuevaTecnica > div,.modalNuevoArtista > div {
  position: absolute;
  top: 10px;
  right: 10px;
}
