
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"); 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  /*background-image: url("/public/images/fondo.jpg");*/
  background-size:cover ; 
  background-color: #828282;
  padding: 0rem 5rem 0rem 5rem;
}


.header {
  display: flex ;
  align-items: center;
}

.logo img { 
  width: 200px;
}
.menu_container{
  display: flex;
  align-items:center;
}

.navbar ul {
  display: flex; /* Alinea los elementos del menú en una fila */
  gap: 18px; /* Espacio entre los elementos */
}

/*.navbar ul li {
  /*display: inline-block; /* Asegura que cada elemento sea tratado en línea
}*/

.navbar ul li a {
  font-family: "Lato";
  font-size: 18px;
  /*padding: 2px;*/
  color: rgb(129, 83, 56);
  /*display: flex;*/
  font-weight: 400;
}
.navbar ul li a:hover {
  color: rgb(112, 2, 2);
}
.navbar img{
  width: 40px;
}

.menu-icono {
  width: 25px;
}

.fraseBresson {
  display: flex;
 justify-content: space-around;
}

/*.fraseBressonconteiner {
  /*padding: ;
}*/

.fraseBressoncontainer h2 {
  font-family: "Lato";
  font-size: 30px;
  line-height: 50px;
  font-weight: 100px;
  color: #d1c4c4;
  font-style: italic;
}

.fraseBressoncontainer p {
  font-size: 20px;
  color: #b46b6b;
  margin-bottom: 10px;
}

.carruselExpress { /* carrusel de imagenes de Bresson*/
  display: flex;
  width: 800px;
  height: 300px;
}
.carruselExpress img{
width: 0;
flex-grow: 1;
object-fit: cover;
opacity: .5;
transition: 0.8s ease;
}
.carruselExpress img:hover{ /*cuando se apoya con el curso encima*/
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(110%);
  }

.btn-1 {
  display: inline-block;
  background-color: #927e7e;
  padding: 10px 30px;
  border-radius: 25px;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
  /*cambio color cuando se apoya el cursor encima*/
  background-color: #900C3F;
}

/* hr {
    border: 1px solid #545454;
} */


.footer{
  display:inline-flex;
  
}


.socials {
  display: inline-flex;
  gap: 15px; /* Espacio entre los íconos */
}

.socials img {
      width: 35px;
}

a {
    font-size: 12px;
    color: #edf7da;
}
.small {
  color: rgb(253, 228, 199);
}

/***********CSS del listado de camaras*************************/
.listadoCamaras {
  display:block;

  padding: 15px;
  color: rgb(248, 191, 177); /* Cambia el color del texto a blanco */
  font-size: 20px; /* Aumenta el tamaño de la fuente */
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

/* Estilo para el botón de check */
.boton-check {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: green; /* Color verde para el icono */
  font-size: 30px; /* Aumenta el tamaño del icono */
  margin-left: 10px; /* Espaciado a la izquierda */
}

/* Estilo para el botón de eliminar */
.boton-eliminar {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  color: red; /* Color rojo para el icono */
  font-size: 30px; /* Aumenta el tamaño del icono */
  margin-left: 3px; /* Espaciado a la izquierda */
}

/************************ESTILOS PARA LOGIN.HTML***********************************/
.conteiner-loginregister{
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
fieldset {
  display:flex;
  flex-direction: column; /* Alinea los elementos en columna */
  gap: 10px;
}
.login, .register {
  padding: 20px;
  background-color: #0000005e;
}
.login{
  color: #8b7e53;
}
.register {
  color: #a79db6;
}


/*--------------------------------Responsive abajo----------------------------------*/



/*@media(max-width: 991px) {  /* pagina responsiva*/
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li  a {
        color: #ffffff;
    }
    .menu .navbar ul li  a:hover  {
        color: #f59b9b;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    
    .header-info {
        flex-direction: column;
        padding: 30px;
    }
    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .header-img {
        width: 100%;
        text-align: center;
        padding-top: 35px;
    }
    .header-img img{
        width: 300px;
    }
    .info {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .info-1 {
        margin-bottom: 20px;
    }
    
    
    
    .footer {
        padding: 30px;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .socials {
        margin-bottom: 25px;
    }
  /*}