   /* <section class="fotografos">
      <div class="gridFotografos">
        <template id="cardFotografo">
          <div class="card">
            <img class="imagenFotografo" src="" alt="" />
            <div class="divisioncard">
            <h3 class="nombreCompleto"></h3>
            <p class="nacionalidad"></p>
            <p class="anoNacimiento"></p>
            <p class="anoFallecimiento"></p>
            <p class="estiloFotografico"></p>
            <p class="biografia"></p>
          </div>
          </div>
        </template>
      </div>
    </section> */
.gridFotografos,.gridLentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.imagenFotografo {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.card {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    padding: 16px;
    height: 210px;
    width: 350px;
    gap: 15px;
}
.card h3 {
    font-size: 1rem;
    color: rgb(183, 222, 216);
}
.card p {
    font-size: 0.7rem;
    color: rgb(127, 177, 171)
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.imagenLentes {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.cardlens{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    align-items:center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    height: 700px;
    width: 300px;
}
.cardlens h3 {
    font-size: 1rem;
    color: rgb(183, 222, 216);
}
.cardlens p {
    font-size: 0.7rem;
    color: rgb(127, 177, 171);
    text-align: center;
    padding: 0 3px 0 3px;
}
.cardlens:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

    /*<section class="camaras">
      <div class="gridCamaras">
        <template id="cardCamaras">
          <div class="card">
            <img class="imagenCamaras" src="" alt="" />
            <div class="divisioncard">
            <h3 class="modeloCamaras"></h3>
            <p class="tipoCamaras"></p>
            <p class="sensorCamaras"></p>
            <p class="resolucionCamaras"></p>
            <p class="isoMinCamaras"></p>
            <p class="isoMaxCamaras"></p>
            <p class="marca_id"></p>
            <p class="precioCamaras"></p>
          </div>
          </div>
        </template>
        
      </div>
    </section>*/
.gridCamaras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.imagenCamaras {
    width: 150px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.cardCam {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    padding: 16px;
    height: 400px;
    width: 350px;
    gap: 15px;
    color: rgb(176, 198, 223);
}

/*<section class="tecnicas">
      <div class="gridTecnicas">
        <template id="cardTecnica">
          <div class="card">
            <img class="imagenTecnica" src="" alt="" />
            <div class="divisioncard">
            <h3 class="nombreTecnica"></h3>
            <p class="descripcionTecnica"></p>
          </div>
          </div>
        </template>   
      </div>
    </section>*/
.gridTecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.imagenTecnica {
    width: 300px;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
}
.cardTecnica {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    padding: 16px;
    height: 400px;
    width: 350px;
    gap: 15px;
    color: rgb(176, 198, 223);
}
.cardTec {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    padding: 16px;
    height: 250px;
    width: 500px;
    gap: 15px;
    color: rgb(176, 198, 223);
}

/*css accesorios*/
.gridAccesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.imagenAccesorios {
    width: 220px;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
}
.cardAccess {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: linear-gradient(to right, #0000009d,#affbff26, #282f3493);
    border-radius: 8px;
    padding: 16px;
    height: 400px;
    width: 250px;
    gap: 2px;
    color: rgb(176, 198, 223);
}


/* =========================  PÁGINAS SONY Y NIKON/CANON ========================= /**/

.sony-page,.nikonCanon-page {
  position: relative;
  color: rgb(240, 240, 240);
  width: 100%;
  margin: 20px 30px 20px 30px;
  background-image: url("/images/SONY/69.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px 30px;
  z-index: 1;
  border-radius: 20px;
}

/* Overlay oscuro */
.sony-page::before,.nikonCanon-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9); /* ← ajustás opacidad acá */
  z-index: -1;
}

/* =========================
   HERO
========================= */

.sony-hero,.marca-hero {
  text-align: center;
  margin: 100px 0 80px 0;
}

.sony-hero h1,.marca-hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.sony-hero p ,.marca-hero p {
  font-size: 1.2rem;
  color: #bbb;
}

/* =========================
   BLOQUES EN CASCADA
========================= */

.sony-bloque ,.marca-bloque {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 100px 0;
}

.sony-bloque.reverse,.marca-bloque.reverse {
  flex-direction: row-reverse;
}

.sony-texto,.marca-texto {
  flex: 1;
}

.sony-texto h2,.marca-texto h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sony-texto p,.marca-texto p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #ccc;
}

.sony-imagen,.marca-imagen {
  flex: 1;
}

.sony-imagen img,.marca-imagen img {
  width: 100%;
  border-radius: 12px;
  transition: 0.4s ease;
}

/* Hover suave tecnológico */
.sony-imagen img:hover,.marca-imagen img:hover {
  transform: scale(1.03);
}
.textoder{
    text-align: right;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
  .sony-bloque,.marca-bloque {
    flex-direction: column;
    text-align: center;
  }

  .sony-bloque.reverse,.marca-bloque.reverse {
    flex-direction: column;
  }

  .sony-texto,.marca-texto {
    margin-bottom: 30px;
  }
}